<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[vpn]], [[zerotier]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('zerotier_status');
		if (data && tb) {
			if (data.running) {
				var links = '<span style="color:green">Zerotier status: <%:RUNNING%></span>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<span style="color:red">Zerotier status: <%:NOT RUNNING%></span>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section"><span id="zerotier_status">Collecting data...</span>
</fieldset>

